extends layout

block content
  h1= title
  p Welcome to #{title}
  canvas#world
  script(src='javascripts/lib/tmlib.js')
  script(src='javascripts/scene/game/matrix.js')
  script(src='javascripts/scene/game/box.js')
  script(src='javascripts/scene/game/background.js')
  script(src='javascripts/scene/game/player.js')
  script(src='javascripts/scene/game/gamescene.js')
  script(src='javascripts/main/main.js')